Repository opendatahub-io/model-registry, pull requests merged in 2024-09, with the labels that each got.

#116 periodic sync upstream KF to midstream ODH
  .github/workflows/python-tests.yml
  .github/workflows/run-robot-tests.yaml
  .github/workflows/ui-frontend-build.yml
  CONTRIBUTING.md
  clients/python/Makefile
  clients/python/noxfile.py
  clients/python/poetry.lock
  clients/python/pyproject.toml
  clients/python/tests/REST_bindings_test.py
  clients/python/tests/conftest.py
  clients/python/tests/regression_test.py
  clients/python/tests/test_client.py
  clients/python/tests/test_core.py
  clients/ui/frontend/.eslintignore
  clients/ui/frontend/.eslintrc
  clients/ui/frontend/.prettierignore
  clients/ui/frontend/.prettierrc
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/__tests__/cypress/cypress.config.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/home.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/pageNoteFound.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/support/e2e.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/application.cy.ts
  clients/ui/frontend/src/app/App.tsx
  clients/ui/frontend/src/app/AppContext.ts
  clients/ui/frontend/src/app/AppRoutes.tsx
  clients/ui/frontend/src/app/Dashboard/Dashboard.tsx
  clients/ui/frontend/src/app/NavSidebar.tsx
  clients/ui/frontend/src/app/NotFound/NotFound.tsx
  clients/ui/frontend/src/app/Settings/Admin.tsx
  clients/ui/frontend/src/app/Support/Support.tsx
  clients/ui/frontend/src/app/useSettings.tsx
  clients/ui/frontend/src/app/useTimeBasedRefresh.ts
  clients/ui/frontend/src/components/browserStorage/BrowserStorageContext.tsx
  clients/ui/frontend/src/index.tsx
  clients/ui/frontend/src/types.ts
  clients/ui/frontend/src/utilities/const.ts
  csi/go.mod
  csi/go.sum
  go.mod
  go.sum
  internal/converter/mlmd_converter_util_test.go
  internal/converter/mlmd_openapi_converter_util.go
  test/robot/MLMetadata.py
  test/robot/MRandLogicalModel.robot
  test/robot/requirements.txt
Labels: approved, lgtm, tide/merge-method-merge

#96 Removing value from istio.env
  openshift-ci/resources/samples/istio/components/istio.env
Labels: approved, lgtm

#120 periodic sync upstream KF to midstream ODH
  CONTRIBUTING.md
  clients/python/README.md
  clients/python/poetry.lock
  clients/python/src/model_registry/_client.py
  clients/python/tests/test_client.py
  clients/ui/bff/Dockerfile
  clients/ui/bff/Makefile
  clients/ui/bff/README.md
  clients/ui/bff/api/app.go
  clients/ui/bff/api/helpers.go
  clients/ui/bff/api/registered_models_handler.go
  clients/ui/bff/api/registered_models_handler_test.go
  clients/ui/bff/cmd/main.go
  clients/ui/bff/config/environment.go
  clients/ui/bff/data/model_registry_client.go
  clients/ui/bff/data/registered_model.go
  clients/ui/bff/data/registered_model_test.go
  clients/ui/bff/internals/mocks/model_registry_client_mock.go
  clients/ui/bff/internals/mocks/static_data_mock.go
  clients/ui/frontend/.eslintrc
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  clients/ui/frontend/src/__tests__/unit/testUtils/hooks.ts
  clients/ui/frontend/src/components/browserStorage/BrowserStorageContext.tsx
  clients/ui/manifests/base/README.md
  clients/ui/manifests/base/kustomization.yaml
  clients/ui/manifests/base/model-registry-bff-deployment.yaml
  clients/ui/manifests/base/model-registry-bff-role.yaml
  clients/ui/manifests/base/model-registry-bff-service.yaml
  clients/ui/manifests/base/model-registry-ui-deployment.yaml
  clients/ui/manifests/base/model-registry-ui-service.yaml
  go.mod
  go.sum
  internal/testutils/test_container_utils.go
  pkg/core/artifact.go
  pkg/core/artifact_test.go
  pkg/core/core.go
  pkg/core/core_test.go
  pkg/core/inference_service.go
  pkg/core/inference_service_test.go
  pkg/core/model_version.go
  pkg/core/model_version_test.go
  pkg/core/registered_model.go
  pkg/core/registered_model_test.go
  pkg/core/serve_model.go
  pkg/core/serve_model_test.go
  pkg/core/serving_environment.go
  pkg/core/serving_environment_test.go
  test/robot/UserStory.robot
Labels: approved, lgtm, tide/merge-method-merge, Area/UI, Area/MR Python client, Area/Go REST server

#125 periodic sync upstream KF to midstream ODH
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
Labels: approved, lgtm, tide/merge-method-merge, Area/MR Python client

#126 periodic sync upstream KF to midstream ODH
  clients/ui/bff/Dockerfile
  clients/ui/bff/cmd/main.go
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/errors.go
  clients/ui/bff/internal/api/healthcheck__handler_test.go
  clients/ui/bff/internal/api/healthcheck_handler.go
  clients/ui/bff/internal/api/helpers.go
  clients/ui/bff/internal/api/helpers_test.go
  clients/ui/bff/internal/api/middleware.go
  clients/ui/bff/internal/api/model_registry_handler.go
  clients/ui/bff/internal/api/model_registry_handler_test.go
  clients/ui/bff/internal/api/model_versions_handler.go
  clients/ui/bff/internal/api/model_versions_handler_test.go
  clients/ui/bff/internal/api/registered_models_handler.go
  clients/ui/bff/internal/api/registered_models_handler_test.go
  clients/ui/bff/internal/api/test_utils.go
  clients/ui/bff/internal/config/environment.go
  clients/ui/bff/internal/data/health_check_model.go
  clients/ui/bff/internal/data/model_registry.go
  clients/ui/bff/internal/data/model_registry_client.go
  clients/ui/bff/internal/data/model_registry_test.go
  clients/ui/bff/internal/data/model_version.go
  clients/ui/bff/internal/data/model_version_test.go
  clients/ui/bff/internal/data/models.go
  clients/ui/bff/internal/data/registered_model.go
  clients/ui/bff/internal/data/registered_model_test.go
  clients/ui/bff/internal/integrations/constants.go
  clients/ui/bff/internal/integrations/http.go
  clients/ui/bff/internal/integrations/k8s.go
  clients/ui/bff/internal/integrations/k8s_test.go
  clients/ui/bff/internal/mocks/http_mock.go
  clients/ui/bff/internal/mocks/k8s_mock.go
  clients/ui/bff/internal/mocks/model_registry_client_mock.go
  clients/ui/bff/internal/mocks/static_data_mock.go
  clients/ui/bff/internal/mocks/types_mock.go
  clients/ui/bff/internal/validation/test_helpers.go
  clients/ui/bff/internal/validation/validation.go
  clients/ui/bff/internal/validation/validation_test.go
Labels: approved, lgtm, tide/merge-method-merge, Area/UI
