Repository opendatahub-io/model-registry, pull requests merged in 2024-12, with the labels that each got.

#153 chore: align manifest for 0.2.11 for ODH
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
Labels: approved, Area/Manifests

#155 periodic sync upstream KF to midstream ODH
  .github/dependabot.yml
  .github/workflows/build-and-push-csi-image.yml
  .github/workflows/csi-test.yml
  .gitignore
  Makefile
  clients/python/poetry.lock
  clients/python/pyproject.toml
  clients/python/src/model_registry/__init__.py
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  cmd/csi/Dockerfile.csi
  cmd/csi/GET_STARTED.md
  cmd/csi/README.md
  cmd/csi/main.go
  cmd/csi/samples/modelregistry.clusterstoragecontainer.yaml
  csi/.gitignore
  csi/Dockerfile
  csi/Dockerfile.dev
  csi/Makefile
  csi/go.mod
  csi/go.sum
  internal/csi/constants/constants.go
  internal/csi/modelregistry/api_client.go
  internal/csi/storage/modelregistry_provider.go
  test/csi/e2e_test.sh
  test/csi/setup_test_env.sh
  test/csi/test_utils.sh
  test/scripts/install_kustomize.sh
  test/scripts/install_modelregistry.sh
Labels: approved, lgtm, tide/merge-method-merge, Area/UI, Area/MR Python client, Area/Go REST server, Area/CSI, Area/GitHub

#159 chore(owners): add Al-Pragliola to OWNERS file
  OWNERS
Labels: approved, lgtm
