Repository opendatahub-io/model-registry, pull requests merged in 2024-02, with the labels that each got.

#301 doc: Document MR Logical Model
  README.md
  docs/logical_model.md
  docs/logical_model_image1.png
  docs/logical_model_image2.png
  docs/logical_model_image3.png
Labels: approved

#307 py: default metadata capture environment vars
  clients/python/README.md
  clients/python/src/model_registry/_client.py
  clients/python/tests/test_client.py
Labels: approved

#313 This commit will add tonyxrmdavidson to the OWNERS file.
  OWNERS
Labels: approved, lgtm

#314 Improvements to Makefile
  Makefile
Labels: lgtm, needs-ok-to-test

#292 feat: add kustomize manifests for kubeflow, fixes RHOAIENG-1947
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/base/model-registry-configmap.yaml
  manifests/kustomize/base/model-registry-deployment.yaml
  manifests/kustomize/base/model-registry-sa.yaml
  manifests/kustomize/base/model-registry-service.yaml
  manifests/kustomize/options/istio/destination-rule.yaml
  manifests/kustomize/options/istio/istio-authorization-policy.yaml
  manifests/kustomize/options/istio/kustomization.yaml
  manifests/kustomize/options/istio/virtual-service.yaml
  manifests/kustomize/overlays/db/kustomization.yaml
  manifests/kustomize/overlays/db/model-registry-db-deployment.yaml
  manifests/kustomize/overlays/db/model-registry-db-pvc.yaml
  manifests/kustomize/overlays/db/model-registry-db-service.yaml
  manifests/kustomize/overlays/db/params.env
  manifests/kustomize/overlays/db/patches/model-registry-deployment.yaml
  manifests/kustomize/overlays/db/secrets.env
  manifests/kustomize/overlays/postgres/kustomization.yaml
  manifests/kustomize/overlays/postgres/model-registry-db-deployment.yaml
  manifests/kustomize/overlays/postgres/model-registry-db-pvc.yaml
  manifests/kustomize/overlays/postgres/model-registry-db-service.yaml
  manifests/kustomize/overlays/postgres/params.env
  manifests/kustomize/overlays/postgres/patches/model-registry-deployment.yaml
  manifests/kustomize/overlays/postgres/secrets.env
Labels: approved, lgtm

#318 fix: istio manifest cleanup, fixes RHOAIENG-1947
  .github/workflows/build-image-pr.yml
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/istio/virtual-service.yaml
Labels: approved, lgtm
