Repository opendatahub-io/model-registry, pull requests merged in 2025-06, with the labels that each got.

#222 Add featured label to models as specified in RHOAIENG-20063
  model-catalog/models/rhelai-models.yaml
  model-catalog/models/third-party-models.yaml
Labels: approved, lgtm

#225 chore: align manifest for 0.2.19 for ODH
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
Labels: approved, Area/Manifests

#237 ci: add test debugging step
  .github/workflows/build-image-pr.yml
Labels: approved, lgtm, Area/GitHub
