Repository opendatahub-io/model-registry, pull requests merged in 2025-04, with the labels that each got.

#186 chore: align manifest for 0.2.16 for ODH
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
Labels: approved, Area/Manifests

#189 Add script and readme to model-catalog directory for updating configmap
  model-catalog/README.md
  model-catalog/scripts/update-unmanaged-sources-configmap.sh
Labels: lgtm

#195 periodic sync upstream KF to midstream ODH
  README.md
  clients/python/Makefile
  clients/python/README.md
  clients/python/poetry.lock
  clients/python/pyproject.toml
  clients/ui/CONTRIBUTING.md
  clients/ui/README.md
  clients/ui/api/openapi/mod-arch.yaml
  clients/ui/bff/go.mod
  clients/ui/bff/go.sum
  clients/ui/bff/internal/api/app.go
  clients/ui/bff/internal/api/model_registry_settings_handler.go
  clients/ui/bff/internal/api/model_registry_settings_rbac_handler.go
  clients/ui/bff/internal/models/model_registry_settings_types.go
  clients/ui/bff/internal/models/rbac_types.go
  clients/ui/frontend/docs/dev-setup.md
  clients/ui/frontend/package-lock.json
  clients/ui/frontend/package.json
  cmd/proxy.go
  cmd/root.go
  docker-compose-local.yaml
  docker-compose.yaml
  docs/logical_model.md
  docs/mr_kind_deploy_ingress.md
  go.mod
  go.sum
  internal/datastore/connector.go
  internal/datastore/mlmd.go
  internal/server/openapi/api_model_registry_service_service.go
  manifests/kustomize/base/model-registry-configmap.yaml
  manifests/kustomize/base/model-registry-deployment.yaml
  manifests/kustomize/overlays/db/patches/model-registry-deployment.yaml
  pkg/core/artifact.go
  pkg/core/registered_model.go
  test/scripts/install_modelregistry.sh
Labels: approved, lgtm, tide/merge-method-merge, Area/UI, Area/MR Python client, Area/Go REST server, Area/Documentation, Area/Manifests

#196 chore: align manifest for 0.2.17 for ODH
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
Labels: approved, lgtm, Area/Manifests
