Repository opendatahub-io/model-registry, pull requests merged in 2025-08, with the labels that each got.

#306 Default model catalog
  Dockerfile
  manifests/kustomize/options/catalog/default-catalog.yaml
Labels: approved, lgtm, Area/Manifests

#308 Create workflow sync-branch-stable2x.yml
  .github/workflows/sync-branch-stable2x.yml
Labels: approved, Area/GitHub

#312 [pull] main from kubeflow:main
  .github/workflows/fossa-license-scanning.yml
  README.md
  clients/python/tests/REST_bindings_test.py
  clients/python/tests/conftest.py
  clients/python/tests/regression_test.py
  clients/python/tests/test_client.py
  clients/python/tests/test_core.py
  clients/ui/bff/go.mod
  clients/ui/bff/go.sum
  clients/ui/frontend/src/__tests__/cypress/cypress/pages/modelCatalog.ts
  clients/ui/frontend/src/__tests__/cypress/cypress/tests/mocked/modelCatalog/modelCatalogDetails.cy.ts
  clients/ui/frontend/src/app/AppRoutes.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/ModelCatalogCoreLoader.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/ModelCatalogRoutes.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/components/ModelCatalogCard.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelCatalogPage.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelDetailsPage.tsx
  clients/ui/frontend/src/app/pages/modelCatalog/screens/ModelDetailsView.tsx
Labels: approved, lgtm, tide/merge-method-merge, Area/UI, Area/MR Python client, Area/GitHub

#314 Updates to use auth token and verify ssl and some minor changes to accommodate running against odh and rhoai
  clients/python/odh_rules.mk
  scripts/deploy_on_odh.sh
  scripts/manifests/model_registry_resource/model_registry_resource.yaml
  scripts/undeploy_on_odh.sh
Labels: approved, lgtm, Area/MR Python client
