Repository opendatahub-io/model-registry, pull requests merged in 2025-07, with the labels that each got.

#250 periodic sync upstream KF to midstream ODH
  .github/workflows/async-upload-test.yml
  .github/workflows/build-and-push-async-upload.yml
  jobs/async-upload/Makefile
  jobs/async-upload/tests/conftest.py
Labels: approved, lgtm, tide/merge-method-merge, ok-to-test, Area/GitHub

#285 periodic sync upstream KF to midstream ODH
  .github/pull_request_template.md
  .github/workflows/build-and-push-image.yml
  .github/workflows/build.yml
  .github/workflows/check-db-schema-structs.yaml
  .github/workflows/prepare.yml
  .github/workflows/run-robot-tests.yaml
  .gitignore
  Dockerfile
  Dockerfile.odh
  Makefile
  README.md
  clients/python/Makefile
  clients/python/src/model_registry/types/artifacts.py
  clients/python/src/model_registry/types/contexts.py
  clients/python/tests/regression_test.py
  clients/python/tests/test_client.py
  clients/ui/bff/go.work
  clients/ui/bff/go.work.sum
  clients/ui/frontend/src/app/pages/modelRegistry/screens/ModelVersions/ModelVersionListView.tsx
  clients/ui/frontend/src/app/pages/modelRegistry/screens/RegisteredModels/RegisteredModelsTableToolbar.tsx
  cmd/controller/Dockerfile.controller
  cmd/csi/Dockerfile.csi
  docs/Model Registry Testing areas.drawio
  docs/Model Registry Testing areas.drawio.png
  docs/Model Registry Testing areas.png
  go.mod
  go.sum
  go.work
  go.work.sum
  internal/converter/openapi_mlmd_converter_util.go
  internal/db/scopes/paginate.go
  internal/db/scopes/paginate_test.go
  internal/tls/config.go
  internal/tls/config_test.go
  pkg/openapi/go.mod
  test/robot/MRkeywords.resource
  test/robot/ModelRegistry.py
  test/robot/Regression.robot
  test/robot/Setup.resource
  test/robot/UserStory.robot
  test/robot/data.yaml
  test/robot/requirements.txt
Labels: approved, lgtm, tide/merge-method-merge, Area/UI, Area/MR Python client, Area/Go REST server, Area/GitHub, Area/Documentation

#286 chore: align manifest for 0.2.21 for ODH
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
Labels: approved, lgtm
