Repository opendatahub-io/model-registry, pull requests merged in 2025-05, with the labels that each got.

#211 updated third party models for catalog
  model-catalog/models/neural-magic-models.yaml
  model-catalog/models/third-party-models.yaml
Labels: approved, lgtm

#212 add model validation links & update readme
  model-catalog/README.md
  model-catalog/models/rhelai-models.yaml
  model-catalog/models/third-party-models.yaml
Labels: approved, lgtm

#213 add basic jounce hyperlink
  model-catalog/models/third-party-models.yaml
Labels: lgtm

#210 update unmanaged resources compilation script
  model-catalog/scripts/update-unmanaged-sources-configmap.sh
Labels: approved, lgtm

#216 periodic sync upstream KF to midstream ODH
  .github/pull_request_template.md
  Makefile
  api/openapi/src/lib/common.yaml
  api/openapi/src/model-registry.yaml
  manifests/kustomize/overlays/db/kustomization.yaml
  manifests/kustomize/overlays/db/model-registry-db-deployment.yaml
  scripts/merge_openapi.sh
Labels: approved, lgtm, tide/merge-method-merge, Area/Go REST server, Area/GitHub, Area/Manifests

#217 chore: align manifest for 0.2.18 for ODH
  manifests/kustomize/base/kustomization.yaml
  manifests/kustomize/options/csi/kustomization.yaml
Labels: approved, lgtm, Area/Manifests
